@tailwind base;
@tailwind components;
@tailwind utilities;

.textGradient {
  background: -webkit-linear-gradient(#038731, #0cea1c);
  background-clip: initial;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.calendarShadow {
  box-shadow: 0px 0px 1px 1px lavender, 0px 0px 1px 1px lavender;
}

.purpleShadow {
  box-shadow: 0px 0px 1px 1px lavender, 4px 4px 1px 1px lavender;
}

.purpleShadow:hover {
  transform: translate(4px, 4px);
  box-shadow: 0px 0px 1px 1px lavender, 0px 0px 1px 1px lavender;
}
